{
    auto_https off
    admin off
}

https://{$MTPROXY_DOMAIN}:443 {
    tls /etc/letsencrypt/live/{$MTPROXY_DOMAIN}/fullchain.pem /etc/letsencrypt/live/{$MTPROXY_DOMAIN}/privkey.pem
    root * /srv/tga
    file_server
}
