{
    auto_https off
    admin off
}

https://tga.unicorndubr1k.org:443 {
    tls /etc/letsencrypt/live/tga.unicorndubr1k.org/fullchain.pem /etc/letsencrypt/live/tga.unicorndubr1k.org/privkey.pem
    root * /var/www/unicorndubr1k.org
    file_server
}
